@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Ovo&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Moul&family=Rakkas&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color: rgb(205, 205, 247);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.livro{
    background-color: rgb(240, 231, 223);
}

.musica{
    background-color: black;
}

.serie{
    background-color: rgb(207, 207, 207);
}


.parallax{
    width: 100%;
}

main{
    display: block;
    background-color:  white;
}

.container{
    margin: 0 auto;
    padding: 0 300px;
}

h1{
    font-family: "Lobster", sans-serif;
    font-size: 70px;
    font-weight: 2000;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;

}

.home{
    color: rgb(10, 10, 60);
    background-color: rgba(132, 136, 159, 0.338);
    
}

.livros{
    color: rgb(53, 0, 0);
    background-color: rgba(90, 64, 50, 0.345);
}

.musicas{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.151);
}

.series{
    color: rgb(0, 0, 0);
}

h3{
    color: rgb(12, 12, 66);
    font-family: "Volkhov", serif;
    margin-bottom: 25px;
    font-weight: 900;
    font-size: 30px;
}

h2{
    font-family: "Volkhov", serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
}

section.module.texto{
    text-align: center;
    padding: 40px 0;
    background-color: rgb(205, 205, 247);
}

section.module.parallax{
    display: flex;
    height: 50vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

section.module.imagem{
    background-image: url(https://getwallpapers.com/wallpaper/full/6/f/8/907079-van-gogh-wallpaper-1920x1080-for-phone.jpg);
}

section.module.imagem-2{
    background-image: url(livro.png);
}


section.module.imagem-3{
    background-image: url(musica.jpeg);
}

section.module.imagem-4{
    background-image: url(serie.png);
}

.menu{
    padding: 10px;
    background-color: rgb(195, 195, 242);
    border-radius: 4px;
    text-decoration: none;
    color: rgb(12, 12, 66);
}

.menu:hover{
    background-color: rgb(12, 12, 66);
    color: rgb(195, 195, 242);
}

.frase{
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    padding: 0 300px;
}

.livro-3{
    text-align: center;
    margin: 0 auto;
    padding: 15px 160px 0 160px;
}

.frase-2{
    font-style: italic;
    text-align: justify;
}

.frase-3{
    font-style: italic;
    text-align: justify;
}

.frase-4{
    font-style: italic;
    text-align: justify;
}

.container-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 80px;
  }

.descrição{
    flex: 1;
    padding-left: 70px;
    padding-right: 20px;
    text-align: justify;
    align-items: center;
}

.descrição-2{
    flex: 1;
    padding-right: 100px;
    padding-left: 20px;
    text-align: justify;
    align-items: center;
}

.imagem {
    flex: 1;
    display: flex;
  }

.imagem-2 {
    flex: 1;
    display: flex;
}

.imagem img {
    width: 500px;
    float: right;
    margin-left: 20px;
}

.trailer{
    margin-left: 70px;
}

.spotify{ 
    padding: 50px;
}

.music {
    width: 100%;
    height: 300px;
    margin-bottom: -30px;
}
